/*=================
BASIC E-COMMERCE PAGE STYLING
===================*/

/* Body styling */
body {
    font-family: Arial, sans-serif;  /*font style*/
    background-color: lightgray;  /*background color*/
    text-align: center;
    margin: 20px;
}

/* heading styling */
h1 {
    color: black;
    margin-bottom: 30px;

}
/* product Box styling */
.product-box {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding:15px;
    border: 2px solid grey;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}
/*product image styling */
.product-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/* product title */
.prooduct-box h2 {
    color: blue;
    margin-top: 10px;
    font-size: 20px;
}
/* Product Description */
.description {
    color: dimgray;                  /* Gray text */
    font-size: 14px;                 /* Small readable text */
    margin: 10px 0;                  /* Space above and below */
}

/* Product Price */
.price {
    color: red;                      /* Red price text */
    font-weight: bold;               /* Bold text */
    margin-bottom: 15px;             /* Space below price */
}

/* Button Styling */
button {
    background-color: blue;          /* Blue button */
    color: white;                    /* White text */
    padding: 10px 20px;  
      /* Inner space (top-bottom, left-right) */
    border: none;                    /* No border */
    border-radius: 5px;              /* Rounded button corners */
}

/* Button hover effect */
button:hover {
    background-color: darkblue;      /* Darker blue on hover */
}
