/*=================
BASUC E-COMMERCE PAGE STYLING
===================*/

/* Body styling */
body {
    font-family: Arial, sans-serif;  /*font style*/
    background-color: lightgray;  /*background color*/
    text-align: center;
    margin: 20px;
}

/* heading styling */
h1 {
    color: black;
    margin-bottom: 30px;

}
/* product Box styling */
.product-box {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding:15px;
    border: 2px solid grey;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}
/*product image styling */
.product-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/* product title */
.prooduct-box h2 {
    color: blue;
    margin-top: 10px;
    font-size: 20px;
}
/*product decription styling */
.description {
    color: dimgray;
    font-size: 14px;
    margin: 10px 0;
}
/* price styling */
.price {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.bottom{
    background-color:blue;
    color:white;
    padding:10px 20px;
    border: none;
    border-radius:5px;
}
button:hover{
    background-color:darkblue;
    cursor:pointer;

}
