body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;

}

/* Block Example */
.block-menu a{
    display: block;
    background-color:#200680;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}

/* Inline Example */
.inline-menu a{
    display: inline;
    background-color:#200680;
    color: white;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    
}
/*Inline-Block Example */
.inline-block-menu a{
    display: inline-block;
    background-color: #9b59b6;
    color:white;







}
/* Float Example */
.float-menu a {
    float: right;
     background-color: rgb(232, 164, 16);
    color: white;
    padding: 10px 15px;
    margin: 5px;
     text-decoration: none;
}
/* Clear Example */
.clear-example {
    clear: both;   /* This stops floating elements */
    background-color: rgb(232,20,16);
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

    

