/* Traffic light box */
.traffic-light {
  width: 100px;
  background: #333;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Common light style */
.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #111;
  box-shadow: inset 0 0 10px #000;
}

/* Specific colors */
.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}