.loader{
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 20px solid blue;
    border-top: 20px solid red;
    animation: spinAnimate;
}
@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
     to{
        transform: rotate(360deg);

     }
}